@charset "UTF-8";
/*layout*/
html{
}
body{
margin:0 15px;
font-size:12px;


}
a:link{
color:#069;
}

#wrap{
}
#head{
box-shadow:0 2px 4px #ccc;
}
#head h1 img{
width:100%;
}
#head nav ul{
width:100%;
list-style:none;
display:-webkit-box;
display:-moz-box;
display:box;
}

#head nav ul li{
-webkit-box-flex:1;
-moz-box-flex:1;
box-flex:1;
}

#head nav ul li a{
display:block;
min-width:60px;
height:50px;
padding:6px 0 0 0;
text-align:center;
text-decoration:none;
color:#666;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #eee), color-stop(0.00, #fff));
background:-webkit-linear-gradient(top, #fff 0%, #eee 100%);
background:-moz-linear-gradient(top, #fff 0%, #eee 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0 );
background:linear-gradient(top, #fff 0%, #eee 100%);
border-right:#ddd solid 1px;
}

#head nav ul li a:after{
content:attr(title);
display:block;
margin:2px 0 0 0;
font-size:11px;
}

#head nav ul li a img{
width:23px;
}
#head nav.gnavi ul li a{
min-width:100px;
font-size:30px;
font-weight:bold;
color:#fff;
background:#000;

}
#navi1{
margin:0 -10px;
}

#navi1 ul{
border-top:#ccc solid 1px;
}

#navi1 ul li{
}

#navi1 ul li a{
position:relative;
display:block;
height:120px;
padding:0 0px;
font-size:50px;
font-weight:bold;
color:#fff;
text-decoration:none;
text-indent:10px;
line-height:120px;
background:#000;
border-bottom:#ccc solid 2px;
}
#navi1 ul li a:after{
position:absolute;
right:10px;
top:50%;
margin:-8px 0 0 0;
display:block;
content:"";
width:11px;
height:17px;
background:url(../img/icon01.png) no-repeat;
-webkit-background-size:11px 17px;
background-size:11px 17px;
}
#contents{

position:relative;
margin:0 10px 10px 10px;
padding:10px 8px;
-webkit-box-shadow:1px 1px 2px #fff;
box-shadow:1px 1px 2px #ddd;

background:#fff;
border-radius:4px;

}
#contents .main{
padding:0 0 10px 0;

}
#contents .main h2{
margin:0 0 20px 0;
padding:0 0 0 4px;
font-size:20px;
font-weight:bold;
line-height:1;
border-left:#09C solid 4px;
}

#accessArea{
}
#contents{
background:#b8b7b6;
}

#accessArea .txt{
margin:0 0 20px 0;
}
#accessArea .txt h2{
font-size:30px;
}

#accessArea .txt p{
font-size:20px;
line-height:1.6;
}
#accessArea .txt p img{
float:right;
width:350px;
padding:0 10px 6px 0;
}
#accessArea .txt p:after{
content:"";
display:block;
clear:both;
}



#accessArea .map{
margin:0 0 20px 0;
}
#accessArea .map h2{
font-size:30px;
}
#accessArea .map p{
font-size:20px;
line-height:1.6;
}

#accessArea .map p iframe{
float:right;
width:350px;
height:350px;
overflow:hidden;
padding:0 10px 0 0;
}
#accessArea .map p:after{
content:"";
display:block;
clear:both;
}
#accessArea map2{
margin:0 0 20px 0;
}
#accessArea .map2 p{
font-size:20px;
float:right;
padding:0 10px 6px 0;
}
#accessArea .lunch p{
margin 0 0 0 20px;
font-size:20px;
line-height:1.6;
border-bottom:#515253 dotted 3px ;
}
#accessArea .lunch p img{
float:right;
width:200px;
padding:0 20px 20px 0;
}
#accessArea .lunch p:after{
content:"";
display:block;
clear:both;
}
#accessArea .lunch p:last-child{
margin-bottom:0;
padding-bottom:0;
border-bottom:none;
}
#items{
margin:0 3px 3px 3px;
}

#items header{
}

#items header h1{
margin:0 0 3px 0;
padding:13px 10px;
font-size:14px;
font-weight:bold;
color:#fff;
background:#000;
}

#items .itemList{
}

@media screen and (min-width:500px) {
	#items .itemList{
	width:480px;
	margin:0 auto;
	}
}

#items .itemList:after{
content:"";
display:block;
clear:both;
}

#items .itemList article{
float:left;
width:49%;
margin:0 2% 5px 0;
}

#items .itemList article:nth-child(2n){
margin:0 0 5px 0;
}

#items .itemList article a{
display:block;
padding:5px;
font-size:10px;
color:#333;
text-decoration:none;
background:#fff;
}

#items .itemList article a .tag{
position:absolute;
width:40px;
height:15px;
text-align:center;
font-weight:bold;
line-height:15px;
color:#fff;
background:#333;
}

#items .itemList article a .tag.sp{
width:50px;
background:#f90;
}

#items .itemList article a .tag.new{
background:#fc0;
}

#items .itemList article a .tag.pop{
background:#f60;
}

#items .itemList article a .img{
margin:0 0 6px 0;
}

#items .itemList article a .img img{
width:100%;
}

#items .itemList article a h1{
height:20px;
margin:0 0 4px 0;
overflow:hidden;
}

#items .itemList article a .price{
}


#itemArea{
padding:5px 0 0 0;
}

#itemArea .head{
margin:0 0 5px 0;
}

#itemArea .head h1{
padding:12px 10px;
font-size:14px;
font-weight:bold;
color:#fff;
background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #099), color-stop(0.00, #5BB4BD));
background:-webkit-linear-gradient(top, #5BB4BD 0%, #099 100%);
background:-moz-linear-gradient(top, #5BB4BD 0%, #099 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5BB4BD', endColorstr='#ff009999', GradientType=0 );
background:linear-gradient(top, #5BB4BD 0%, #099 100%);
border:#099 solid 1px;
}

#itemArea .snavi{
margin:0 10px 10px 10px;
}

#itemArea .snavi ul{
}

#itemArea .snavi ul li{
}

#itemArea .snavi ul li a{
position:relative;
display:block;
padding:14px 10px;
font-weight:bold;
text-decoration:none;
color:#666;
background:#fff;
border:#ccc solid 1px;
border-top:none;
}

#itemArea .snavi ul li a.on{
background:#ddd;
}

#itemArea .snavi ul li a:after{
content:"";
position:absolute;
right:10px;
top:50%;
display:block;
width:8px;
height:13px;
margin:-7px 0 0 0;
background:url(../img/all_arw01.png) no-repeat 0 0;
-webkit-background-size:8px 13px;
background-size:8px 13px;
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
transform:rotate(180deg);
}

#itemArea .snavi ul li:first-child a{
border-radius:4px 4px 0 0;
border-top:#ccc solid 1px;
}

#itemArea .snavi ul li:last-child a{
border-radius:0 0 4px 4px;
}

#itemArea .snavi ul li:first-child a:after{
background:url(../img/all_arw02.png) no-repeat 0 0;
-webkit-background-size:8px 13px;
background-size:8px 13px;
}
#fmenu{
margin:0 10px 10px 10px;
padding:14px 8px;
background:#DDF2F9;
border-radius:4px;
width:100%;
background-size:cover;
}

#fmenu header{
margin:0 0 10px 0;
}

#fmenu header h1{
margin:0 0 14px 0;
padding:0 0 0 4px;
font-size:12px;
font-weight:bold;
line-height:1;
border-left:#069 solid 4px;
}

#fmenu header p{
}

#fmenu header p img{
width:100%;
border-radius:4px;
}

#fmenu section{
}

#fmenu section h2{
margin:0 0 16px 0;
font-size:12px;
color:#069;
}

#fmenu section dl{
font-size:10px;
line-height:1.6;
}

#fmenu section dl dt{
width:60px;
}

#fmenu section dl dd{
margin:-1.6em 0 4px 0;
padding:0 0 4px 70px;
border-bottom:#BBCDD3 dotted 1px;
}

#fmenu section dl dd:last-child{
margin-bottom:0;
padding-bottom:0;
border-bottom:none;
}

